<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=".css/normalize.css">
    <link rel="stylesheet" href=".css/skeleton.css">
</head>
<body>
<div class="container">
    <h1>Simulation Report</h1>
    <h5>General informations</h5>
    <table>
        {% for key, value in gen.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <strong>Purpose:</strong>
    <p>{{pur}}</p>
    <strong>Files in {{dir}}:</strong>
    <p>{% for file in files %}
        <a href="{{file}}">{{file}}</a> {% if not loop.last %},{% endif %}
        {% endfor %}
    </p><strong>HDF5 Results content:</strong>

    <pre><code>{{h5cont}}</code></pre>
</div>
<div class="container"><h5>Graphics generated</h5>
    <div class="row">
        {% for img in graphfiles %}
        {% if img.ext in ['png', 'jpg', 'gif', 'svg'] %}
        <figure style="text-align: center"><img class="u-max-full-width" src={{img.path}} alt={{img.name}}>
            {% elif img.ext in ['mp4', 'webm'] %}
            <figure class="five columns" style="text-align: center">
                <video width="u-max-full-width" controls autoplay loop>
                    <source src={{img.path}} type="video/{{img.ext}}">
                    Your browser does not support the video tag, File {{img.path}} not rendered.
                </video>
                {% else %}
                <p>Unrendered Multimedia file: {{img.path}}</p>
                {% endif %}
                <figcaption>{{img.name}}</figcaption>
            </figure>
            {% endfor %}
    </div>
</div>
<div class="container"><h5>Computation times</h5>
    <table>
        {% for k,v in comptime.items() %}
        <tr>
            <td>{{k}}</td>
            <td>{{"%.3f"|format(v)}}s</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container">
    <h5>Hardware informations</h5>
    <table>
        {% for key, value in hard.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container"><h5>Parameters</h5>
    <ul>
        {% for mdl in params_calc: %}
        <li><strong>{{mdl.class}}</strong>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
                </thead>
                {% for param in mdl.parameters %}
                <tr>
                    <td>{{param.name}}</td>
                    <td>{{param.value}}</td>
                    <td>{{param.unit}}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
